<% content_for :title do %>
	告警详细信息
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12">

		</div>
		<div class="tab-line clearfix">
      
		</div>
	</div>
</div>
