<div id="interface-sum" class="interface-count">
  <div class="download_count"><%= @sum_interface %></div>
  <div class="upload_count"><%= @upload_count %></div>
</div>
<script type="text/javascript">
  $(function(){
    function get_interface_count() {
      $.ajax({
        type: 'GET',
        async: false,
        url: '/total_interfaces/get_sum',
        beforeSend: function(xhr){
          xhr.setRequestHeader('Accept', 'application/json');
        },
        success: function(data) {
          $("#interface-sum > .download_count").html(data.down);
          $("#interface-sum > .upload_count").html(data.upload);
        }
      });
    }
    setInterval( function() {
      get_interface_count();
    },10000);
  });
</script>
