<div id="interface-sum" class="interface-count">
  <div class="download-count"><%= image_tag "download.png"%><span><%= @sum_interface %></span></div>
  <div class="upload-count"><%= image_tag "upload.png"%><span><%= @upload_count %></span></div>
</div>
<script type="text/javascript">
  $(function(){
    function get_interface_count() {
      $.ajax({
        type: 'GET',
        async: false,
        url: '/total_interfaces/get_sum',
        beforeSend: function(xhr){
          xhr.setRequestHeader('Accept', 'application/json');
        },
        success: function(data) {
          $("#interface-sum > .download-count > span").html(data.down);
          $("#interface-sum > .upload-count > span").html(data.upload);
        }
      });
    }
    setInterval( function() {
      get_interface_count();
    },10000);
  });
</script>
