<div id="task-chart" class="col-xs-6"></div>
<div class="machine-content col-xs-6">
  <div class="title">
    服务器监控
  </div>
  <div class="list">
    <div class="list-header">
      <div class="">服务器名称</div>
      <div class="">CPU</div>
      <div class="">内存</div>
      <div class="">硬盘</div>
    </div>
    <div class="list-content">
      <% @machines.each do |machine| %>
        <div class="machine-name"><%= machine['name']%></div>
        <div class="cpu-name"><span><%= machine.cpu_percent%></span></div>
        <div class="memory-name"><span><%= machine.memory_percent%></span></div>
        <div class="disk-name"><span><%= eval(MachineInfo.get_info("file_systems", machine.identifier))["percent_used"][-2].to_i%> %</span></div>
      <% end %>
    </div>
  </div>
</div>
