<div class="machine-content">
  <div class="title">
    服务器监控
  </div>
  <div class="list">
    <div class="list-header">
      <div class="">服务器名称</div>
      <div class="">CPU</div>
      <div class="">内存</div>
      <div class="">硬盘</div>
    </div>
    <div class="list-content">
      <% @machines.each do |machine| %>
        <div class="machine-name"><%= machine['name'] %></div>
        <div class="cpu-name"><%= machine.cpu_percent%></div>
        <div class="memory-name"><%= machine.memory_percent%></div>
        <div class="disk-name"><%= eval(MachineInfo.get_info("file_systems", machine.identifier))["percent_used"][-2].to_i%> %</div>
      <% end %>
    </div>
  </div>
</div>
