<div id="real-time-weather" class="weather-container">
  <div class="tempe">
    <%= @real_time_weather['tempe'] %>℃
  </div>
  <div class="sub-info">
    <div class="weather"><%= image_tag "small_icon/#{@real_time_weather['weather']}" %></div>
    <div class="update-time"><%= @real_time_weather['datetime'] %>更新</div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    var pusher = new Pusher('22aafd365316e4b176ba', {
      encrypted: true
    })

    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      $("#real-time-weather .tempe").html(data.tempe + "℃");
      $("#real-time-weather .weather").html("<image src='http://139.196.105.29/assets/small_icon/"+data.weather+"'/>");
      $("#real-time-weather .update-time").html(data.datetime + "更新");
    });
  });
</script>
