<div class="col-xs-9 tempe">
  <%= @real_time_weather['tempe'] %>℃
</div>
<div class="col-xs-3 pic">
  <%= image_tag "small_icon/#{@real_time_weather['weather']}" %>
</div>
<script type="text/javascript">
  $(function(){
    var pusher = new Pusher('22aafd365316e4b176ba', {
      encrypted: true
    })

    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      $("#real-time-weather > .tempe").html(data.tempe + "℃");
      $("#real-time-weather > .pic > img").attr("src", "http://139.196.105.29/assets/small_icon/"+data.weather);
    });
  });
</script>
