<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0; background: #fff;">
		<!-- 左侧导航栏收起按钮 -->
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
		</div>
		<!-- 左侧导航栏收起按钮  end-->
		<!-- 右上角消息提示部分 -->
		<ul class="nav navbar-top-links navbar-right">
			<!-- 机房选择 -->
			<li class="dropdown">
				<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
					<i class="fa fa-home fa-lg"></i><b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					
				</ul>
			</li><!-- 机房选择end -->
			<li>
				<%= link_to "javascript: void(0)" do %>
					<i class="fa fa-user"></i> <%= current_user.name %>
				<% end %>
			</li>
			<li>
				<%= link_to destroy_user_session_path, method: :delete do %>
					<i class="fa fa-sign-out"></i> 退出
				<% end %>
			</li>
		</ul>
		<!-- 右上角消息提示部分 end-->
	</nav>
</div>
