<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12 text-center">
			<div class="col-xs-3">标题</div>
			<div class="col-xs-3">模块</div>
			<div class="col-xs-3">级别</div>
			<div class="col-xs-3">时间</div>
		</div>
		<div class="tab-line text-center clearfix">
		<% 5.times do |i| %>
			<div class="col-xs-12 active-line">
				<div class="col-xs-3">气象数据缺报</div>
				<div class="col-xs-3">气象数据</div>
				<div class="col-xs-3"><i class="fa fa-circle fa-red"></i>严重</div>
				<div class="col-xs-3">2015-09-17</div>
				<div class="col-xs-9 small-tab text-left"><%= truncate("我是描述我是描述我是描述我是描述我是描述我是描述", length: 20) %></div>
				<div class="col-xs-3">23:23:23</div>
			</div>
			<hr class="line-hr">
		<% end %>
		<% 10.times do |i| %>
			<div class="col-xs-12 active-line">
				<div class="col-xs-3">气象数据缺报</div>
				<div class="col-xs-3">气象数据</div>
				<div class="col-xs-3"><i class="fa fa-circle fa-orange"></i>次要</div>
				<div class="col-xs-3">2015-09-17</div>
				<div class="col-xs-9 small-tab text-left"><%= truncate("我是描述我是描述我是描述我是描述我是描述我是描述", length: 20) %></div>
				<div class="col-xs-3">23:23:23</div>
			</div>
			<hr class="line-hr">
		<% end %>
			<div class="col-xs-12 active-line">
				<div class="col-xs-3">气象数据缺报</div>
				<div class="col-xs-3">气象数据</div>
				<div class="col-xs-3"><i class="fa fa-circle fa-red"></i>严重</div>
				<div class="col-xs-3">2015-09-17</div>
				<div class="col-xs-9 small-tab text-left"><%= truncate("我是描述我是描述我是描述我是描述我是描述我是描述", length: 20) %></div>
				<div class="col-xs-3">23:23:23</div>
			</div>
		</div>
	</div>
</div>