<% content_for :title do %>
	活跃告警记录
<% end %>
<div class="warp">
	<div class="sef-container">
		<div class="tab-title clearfix text-center">
			<div class="col-xs-4">标题</div>
			<div class="col-xs-3">模块</div>
			<div class="col-xs-5">告警时间</div>
		</div>
		<div class="tab-line text-center clearfix">
		<div class="tab-line text-center clearfix">
			<% if @machines_status.present? %>
				<% @machines_status.each do |key, value| %>
	 				<div class="col-xs-12 active-line">
						<div class="col-xs-4 one-line"><%= key %></div>
						<div class="col-xs-3 one-line"><%= value[0] %></div>
						<div class="col-xs-5">
							<%= value[1].to_time.strftime("%Y-%m-%d")%><br>
							<%= value[1].to_time.strftime("%H:%M:%S")%>
						</div>
					</div>
					<hr class="line-hr">
				<% end %>
		  <% else %>
		    <div class="col-xs-12">
					<h4>无活跃告警</h4>
				</div>
			<% end %>
		</div>
		</div>
	</div>
</div>