<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12 text-center">
			<div class="col-xs-3">数据名称</div>
			<div class="col-xs-3">采集周期</div>
			<div class="col-xs-3">上次采集</div>
			<div class="col-xs-3">状态</div>
		</div>
		<div class="tab-line text-center clearfix">
		<% @task_logs.each_with_index do |task_log, index| %>
			<%= link_to "#" do %>
			<div class="col-xs-12 active-line">
				<div class="col-xs-3"><%=  Task.find_by(identifier: task_log["identifier"]).try(:name) %></div>
				<div class="col-xs-3" style="line-height: 40px;"><%= time_mini(task_log["process_result"]["start_time"], task_log["process_result"]["end_time"]) %>ms</div>
				<div class="col-xs-3" style="line-height: 40px;"><%= (index == 0) ? 0 : (@task_logs[index]["process_result"]["start_time"].to_i -  @task_logs[index - 1 ]["process_result"]["end_time"].to_i)/1000 %>s前</div>
				<div class="col-xs-3" style="line-height: 40px;"><i class="fa fa-circle fa-red"></i>延迟</div>
			</div>
			<hr class="line-hr">
			<% end %>
		<% end %>
			<!-- <div class="col-xs-12 active-line">
				<div class="col-xs-3">健康气象<br>(COPD、儿童)</div>
				<div class="col-xs-3" style="line-height: 40px;">5min</div>
				<div class="col-xs-3" style="line-height: 40px;">5min前</div>
				<div class="col-xs-3" style="line-height: 40px;"><i class="fa fa-circle fa-red"></i>延迟</div>
			</div> -->
		</div>
	</div>
</div>