<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12 text-center">
			<div class="col-xs-3">标题</div>
			<div class="col-xs-3">接口说明</div>
			<div class="col-xs-3">时延</div>
			<div class="col-xs-3">状态</div>
		</div>
		<div class="tab-line text-center clearfix">
		<% @interfaces.each_with_index do |interface, index| %>
			<div class="col-xs-12 active-line">
				<div class="col-xs-3"><%=  interface.try(:name) %></div>
				<div class="col-xs-3">接口说明接口说明接口说明</div>
				<div class="col-xs-3"><% delay(1).to_i %>ms</div>
				<div class="col-xs-3">
				<% if delay(1).to_i < 170 %>
					<i class="fa fa-circle fa-green"></i>正常
				<% else %>
					<i class="fa fa-circle fa-red"></i>延迟
				<% end %>
				</div>
			</div>
			<hr class="line-hr">
		<% end %>
		</div>
	</div>
</div>