<div class="warp">
	<div class="sef-container">
		<div class="tab-title col-xs-12 server-tab">
			<div class="col-xs-4 server-xs4">服务器编码</div>
			<div class="col-xs-2">CPU</div>
			<div class="col-xs-2">内存</div>
			<div class="col-xs-2">网络</div>
			<div class="col-xs-2 text-center">时延</div>
		</div>
		<div class="tab-line text-center clearfix">
		<% 10.times do |i| %>
		<%= link_to server_x_weather_index_path do |i| %>
			<div class="col-xs-12 server-line active-line">
				<div class="col-xs-4">NS11253017</div>
				<div class="col-xs-2"><p><i class="fa fa-circle fa-red"></i>75%</p><p class="server-number">2.85M/4M</p></div>
				<div class="col-xs-2"><p><i class="fa fa-circle fa-green"></i>20%</p><p class="server-number">890M4G</p></div>
				<div class="col-xs-2"><i class="fa fa-circle fa-green"></i>正常</div>
				<div class="col-xs-2"><i class="fa fa-circle fa-green"></i>20ms</div>
			</div>
		<% end %>
			<hr class="line-hr">
		<% end %>
			<div class="col-xs-12 server-line active-line">
				<div class="col-xs-4">NS11253017</div>
				<div class="col-xs-2"><p><i class="fa fa-circle fa-red"></i>75%</p><p class="server-number">2.85M/4M</p></div>
				<div class="col-xs-2"><p><i class="fa fa-circle fa-green"></i>20%</p><p class="server-number">890M4G</p></div>
				<div class="col-xs-2"><i class="fa fa-circle fa-green"></i>正常</div>
				<div class="col-xs-2"><i class="fa fa-circle fa-green"></i>20ms</div>
			</div>
		</div>
	</div>
</div>