<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>接口详情</h5>
				</div>
				<div class="ibox-content"> 
					<p>接口名称：<%= @interface.try(:name) %></p>
					<p>接口标识符：<%= @interface.try(:identifier) %></p>
					<br>
					<%= link_to "返回", admin_customer_interfaces_path, class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>

