/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree ./application/.
 *= require ./frame/font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  color: #fff;
  background-color: #242a53;
  background-image: image_url("bg.png");
  font-size: 100%;
  -moz-background-size:100% 100%;
  background-size: 100% 100%;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
}
.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 0.3vw;
  padding-right: 0.3vw;
}
.logo {
  height: 9.6vh;
  line-height: 9.6vh;
  font-size: 1.2vw;
  img {
    width: 4vw;
  }
}
.interface-count {
  height: 9.6vh;
  line-height: 9.6vh;
  font-size: 5vw;
  img {
    width: 1.8vw;
    padding-right: 0.4vw;
  }
}
.all_count {
  font-size: 4vw;
}
.upload {
  color: #d4a120;
}
#now-timer {
  height: 9.6vh;
  padding-top: 0.6vw;
  color: #50e3c2;
  .year {
    font-size: 1.5vw;
  }
  .date {
    font-size: 1.6vw;
  }
  .hour {
    font-size: 2.1vw;
  }
}
.monitor-container {
  margin-top: 1vh;
  .chart-container {
    height: 100%;
    .top-container {
      height: 48.77%;
      border: 1px solid #284c70;
      .title {
        height: 3.6vh;
        line-height: 3.6vh;
        font-family: STHeitiSC-Light;
        font-size: 1.2vw;
        color: #50e3c2;
      }
      .top-container-chart {

      }
    }
    .bottom-container {
      padding-top: .905vh;
      #task-chart {
        margin-right: 0.56338vw;
        border: 1px solid #284c70;
      }
      .machine-content {
        width: 49.22%;
        height: 100%;
        float: left;
        border: 1px solid #284c70;
        .title {
            padding: 0.9vh 0;
            text-align: center;
            font-size: 1.2vw;
            color: #50e3c2;
          }
          .list {
            .list-header {
              height: 4.7vh;
              line-height: 4.7vh;
              div {
                width: 25%;
                float: left;
                text-align: center;
                font-size: 1.064965vw;
              }
            }
            .list-content {
              overflow: hidden;
              padding-top: 0.911vh;
              div {
                width: 25%;
                height: 4.706vh;
                line-height: 4.706vh;
                margin-top: .905vh;
                float: left;
                text-align: center;
                font-size: 1.11vw;
              }
              .cpu-name span{
                background-color: #50f5fa;
                padding: 10px 30px;
              }
              .memory-name span {
                background-color: #d48c20;
                padding: 10px 30px;
              }
              .disk-name span {
                background-color: #1566b0;
                padding: 10px 30px;
              }
            }
          }
      }
    }
  }
  .district-weathers {
    height: 100%;
    border: 1px solid #284c70;
    .title {
      height: 2vw;
      line-height: 2vw;
      margin-top: 0.7vw;
      font-size: 1.6vw;
      color: #50e3c2;
    }
    .sub-title {
      font-size: 1vw;
      height: 2.4vw;
      line-height: 2.4vw;
      margin-top: 0.7vw;
      opacity:0.52;
      background:#28adb6;
      div {
        width: 14%;
        float: left;
      }
    }
    .weathers-content {
      margin-top: 0.8vw;
      .row {
        div {
          width: 14%;
          height: 2.6vw;
          line-height: 2.6vw;
          float: left;
          font-family: STHeitiSC-Light;
          font-size: 1vw;
        }
      }
      .line {
        opacity:0.5;
        border:1px solid #fff;
      }
    }
  }
}
