/**后台管理页面与前台界面共用全局样式**/

body{
	background-color: #2F4050;
}
/**无title背景块**/
.mblock{
	padding: 15px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.6);
	margin-bottom: 20px;
	&:before{
		content: " ";
		display: table;
	}
}
/**有title背景块**/
.panel{
	box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.8);
	border: none;
	.panel-heading{
		padding: 5px 15px;
	}
}
.panel-default > .panel-heading{
	border-color: transparent;
	i{
		line-height: 18px;
		color: #333;
	}
}
.eagle-content{
	padding: 20px 10px 40px 10px;
	.p-xs{
		padding: 0 10px !important;
	}
}
//数据单位样式
.unit{
	font-size: 10px;
	color: #0178D6;
}
//toastr
#toast-container{
	.toast-error:before, .toast-success:before, .toast-warning:before, .toast-info:before{
		content: " ";	
	}
}