// <!--active页面样式（活跃告警页）-->
.active-line {
	padding-top: 10px;
	div {
		padding: 0 0 5px 0;
	}
}

// <!--server页面样式（服务器）-->
.server-number {
	color: #B8B8B8;
}
.server-line {
	padding-left: 0!important;
}
.server-tab {
	padding-left: 8px!important;
}

.fa-red {
  color: red;
  font-size: 10px;
  padding-right: 5px;
}
.fa-green {
  color: green;
  font-size: 10px;
  padding-right: 5px;
}

.fa-icon {
  font-size: 10px;
  padding-right: 5px;
}

.pie-text {
  p {
    padding-left: 15px;
  }
}

.server-x-text {
  padding: 10px 0;
}

.right3 {
  padding: 20px 0;
  .btn {
    margin-top: 20px;
  }
}

.tab {
  font-size: 12px;
}