// <!--active页面样式（活跃告警页）-->
.active-line {
	padding-top: 10px;
	div {
		padding: 0 0 5px 0;
	}
}

// <!--server页面样式（服务器）-->
.server-number {
	color: #B8B8B8;
  font-size: 12px;
  padding-top: 10px;
}
.server-xs4 {
  padding-left: 10px;
}
.server-line {
	padding-left: 0!important;
  p {
    margin-bottom: 0;
  }
}
.server-tab {
	padding-left: 22px!important;
}

// <!--全局圆点样式-->
.fa-red {
  color: red;
  font-size: 8px;
  padding-right: 5px;
}
.fa-green {
  color: green;
  font-size: 8px;
  padding-right: 5px;
}
.fa-icon {
  font-size: 8px;
  padding-right: 5px;
}


// <!--server-x页面样式（服务器详情）-->
.pie-text {
  p {
    padding-left: 15px;
  }
}
.server-x-text {
  padding: 10px 0;
  font-size: 12px;
}

// <!--statement页面样式（日报表）-->
.air-fw2 {
  padding-bottom: 10px;
}
.right3 {
  padding: 20px 0;
  .btn {
    margin-top: 20px;
  }
}
.state {
  background-color: rgb(121, 120, 120);
  div {
    padding: 5px 0;
    color: #fff; 
  }
}

