// <!--active页面样式（活跃告警页）-->
.active-line {
	padding-top: 10px;
	div {
		padding: 0 0 5px 0;
	}
}

// <!--server页面样式（服务器）-->
.server-number {
	color: #B8B8B8;
}
.server-line {
	padding-left: 0!important;
}
.server-tab {
	padding-left: 8px!important;
}