<% content_for :title do %>
	<%= title %>
<% end %>
<div class="warp">
	<div class="report-img">
		<%= image_tag "report-img.png" %>
	</div>
	<div class="list">
		<%= link_to "接口列表", "reports/#{@customer.id}/#{route}", :class => "btn btn-mysterious btn-lg btn-block" %>
		<%= link_to "用户列表", "/customers/#{@customer.id}/api_users", :class => "btn btn-mysterious btn-lg btn-block" %>
	</div>
</div>
