<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div>CPU</div>
    <div>Memory</div>
    <div>Network</div>
  </div>
</div>
<%= link_to 'Back', admin_customer_machines_path(@machine.customer_id) %>
