// Place all the styles related to the pem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pem__aircondition{
  .energy1 {
    background:transparent url('bulb.jpg')  50% 50% no-repeat;
    background-size:36% 40%;
  }
  .energy2 {
    background:transparent url('house.jpg') 49.5% 50% no-repeat;
    background-size:36% 40%;
  }
  .energy3 {
    background:transparent url('bulb2.jpg') 50% 50% no-repeat;
    background-size:36% 40%;
  }
}