.warp {
	background-color: #f2f0f0;
	min-height: 100%;
	overflow: hidden;
}
.sef-container {
	padding: 15px 10px;
}

.tab-title {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	padding: 0 5px;
	height: 35px;
	line-height: 35px;
	div {
		padding: 0;
	}
	.icon {
		font-size: 15px;
	}
	a, a:hover{
		text-decoration: none;
		color: #fff;
	}
}
.tab-line {
	background-color: #fff;
	padding: 0 5px 5px;
	margin-bottom: 14px;
	box-shadow: 4px 5px 3px #E4E4E4;
	.mes-line {
		padding: 8px 0 0 0;
		.first-line {
			padding-bottom: 25px;
		}
		.line {
			padding-right: 0;
		}
		.p-l-0{
			padding-left: 0;
		}
		.max-point {
			padding-left: 15px;
		}
 		.number {
			color: #2B6BE4;
			span {
				padding: 0 5px;
			}
		}
		.large-title {
			font-size: 14px;
			padding-left: 10px;
		}
	}
	.small-tab {
		color: #777;
		font-size: 11px;
		line-height: 20px;
	}
	.icon-twoline {
		line-height: 60px;
		padding-left: 5px;
		padding-right: 10px;
	}
	.icon-threeline {
		line-height: 36px;
		padding-left: 5px;
		padding-right: 10px;
	}
	.line-hr {
		border: 1px dashed #B8B8B8;
		margin: 0 5px;
	}
	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
		color: #000;
	}
}

// <!--statement页面样式（日报表）-->
.air-fw2 {
  padding-bottom: 10px;
}
.right3 {
	padding: 20px 0;
	.btn {
		margin-top: 20px;
	}
}
.state {
  background-color: rgb(121, 120, 120);
  div {
    padding: 5px 0;
    color: #fff;
  }
}

.tab {
	font-size: 12px;
}

ul{
	width: 100%;
	margin-top: 20px;
	padding: 0px;
	float: left;
	position: relative;
	list-style: none;
	text-align: center;
	background-color: #292929;
}
li{
	height: 52px;
	line-height: 52px;
	color: #fff;
	cursor: pointer;
	border-left: 2px solid #d3d3d3;
}
.report-img{
	height: 260px;
	width: 100%;
	text-align: center;
	padding-top: 97px;
	overflow: hidden;
}
.list{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	.btn-block{
		margin-top: 15px;
	}
}
//选择日期样式
.select_date{
	background-color: transparent;
	border: none;
	width: 100%;
	padding: 0;
	text-align: center;
	outline: 0px;
}
//周报表日期选择器样式
.select_week{
	@extend .select_date;
	height: 16px;
	font-size: 10px;
	line-height: 16px;
}
.week-title{
	height: 18px;
	line-height: 22px;
	font-size: 16px;
}
.btn-mysterious{
	color: #cbcbcb;
	background-color: #181818;
}
