$panel-heading-padding: 5px 15px;
$panel-border-radius: 0px;
$navbar-border-radius: 0;
$navbar-inverse-link-color: #fff;
$navbar-height: 60px;
$navbar-margin-bottom: 0px;

//form
$input-group-addon-bg: #fff;